/* You can add global styles to this file, and also import other style files */

/* Horizontal scrolling tab header */
.mat-mdc-tab-header {
  overflow: visible !important;
}

.mat-mdc-tab-label-container {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.mat-mdc-tab-list {
  flex-grow: 0 !important;
}
